#nav {
	height: 60px;
	width:1200px;
	margin: 0 auto;
}
body {
	background:#1b1b1b url(http://holyshit.pl/public/style_images/Chestnut/tlo.png) repeat top;
}

#lewa-gora{background-color: #85C329;}
#lewa-dol{background-color: #F9BA16;}

#productsColumn{background-color: #F9BA16;}

#masthead{
	height:270px;
}
.ig_container{
	height:100%;
	margin-top:32px;
}
.leftNav {
	float:left;
	margin-top:20px;
	font-size:18px;
}
.rightNav {
	float:right;
	margin-top:20px;
}
#nav li {
	display:inline;
	border-left:1px dotted #CCC;
}
.rightNav li a {
	font-size: 0.9em; 
	color: #9C9C9C;
	padding:0 10px;
}
hr {
	width:1200px;
}
.leftLogo {
	margin-top:0px;
	height:140px;
}
.rightCart {
	margin: 0px 0 10px 0;
	display:table;
	height: 140px;
	line-height: 140px;
	font-size: 18px;
}
#menu {
	width:1200px;
	height:50px;
	line-height:50px;
	background-color: #383838;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
#menu li {
	padding: 15px 15px 15px 15px;
	border-left:1px solid black;
	margin:0;
	margin-right:-5px;
	-webkit-transition: background 0.7s;
	transition: background 0.7s;

}
#menu ul {
	padding:0;
	color:white;
	font-size:18px;
}
#menu li a {
	font-size:0.8em;
	color:white;
	text-transform:uppercase;
}
#menu li:hover {
	background:#B81D22;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	text-decoration:none;
}
#menu li a:hover {
	text-decoration:none;
}
.active {
	background:#B81D22;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.content{
	margin: 0 auto; 
	width:1200px;
	height:800px;
	
}
.content div {
	display:table-cell;
}
footer {
	width:80%;
	margin:0 auto;
	position:relative;
	text-align:center;
}
footer div{
	display:inline-block;
	width:23%;
}
#footerColumn {
	display:inline-block;
	width:1200px;
	margin:0 auto;
}
#category {
	width:200px;
	float:left;
	background:red;
}
#category li {
	list-style:none;
	margin-top:5px;
}
#slider {
	width:1000px;
	float:left;
}
#categories {
width:180px;
height:30px;
border-radius:2px;
}
h2 {
	margin-left:20%;
}
#menu-panel {
	background-color:#0687A7;
	height:56px;
	width:100%;
}

/*-- -------------belka logowania----------------- --> */
#belka {
width: 100%;
height: 32px;
background-image:url('http://portal.holyshit.pl/images/belka_bg.png');
position:fixed; top:0; left:0;
z-index:999;

}

#belka_wnetrze {
margin: 0 auto;
width: 1100px;
font-size: 14px;
color: white;
text-shadow: 1px 1px #000;
}

#belka_wnetrze a {text-decoration:none;}

#belka_wnetrze a:link {color: white;}
#belka_wnetrze a:visited {color: white;}
#belka_wnetrze a:hover {color: grey;}
#belka_wnetrze a:active {color: white;}

#belka_wnetrze_lewa {
margin-top: 5px;

float: left;

}

#belka_wnetrze_prawa {
margin-top: 5px;
text-align: right;

float: right;

}

/*-- -------------Panel boczny----------------- --> */

#panel a:link {color: white;}
#panel a:visited {color: white;}
#panel a:hover {color: grey;}
#panel a:active {color: white;}

#panel {
    position: fixed;
    top: 40px;
    right: -250px;
    z-index: 99999;
    transition: right 0.5s ease-out 0s;
}
 
#panel:hover {
    right: 0;
}
 
#panel .content {
    width: 240px;
    height: 400px;
    padding: 10px;
    border-top: 2px solid #3F3F3F;
    border-right: none;
    border-bottom: 2px solid #3F3F3F;
    border-left: 2px solid #3F3F3F;
    z-index: 20;
    background: #1A1A1A;
    position: relative;

}
 
#panel #title {
    width: 150px;
    border: 2px solid #FAD332;
    background: #F9BA16;
    color: #1A1A1A;
    font-weight: bold;
    border-radius: 8px;
	font-size: 1.1em;
    padding: 5px 5px 25px 5px;
    text-align: center;
    position: relative;
    top: 190px;
    left: -90px;
    transform: rotate(-90deg);
    z-index: 1;
}

#blok_stopka {
background-image:url('http://portal.holyshit.pl/images/background-lol.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-color: #131313; 
background-position: center bottom;
height: 350px;
}
#fos_user_registration_form{
	display:table;
}
label {
	display:table;
	color:white;
}
.content form {
	margin:0 auto;
	display:table-caption;
}
.fos-forms {
	height:600px;
	width:800px;
	padding-left:40%;
	padding-top:10%;
}
/* ********** media queries */

/* MENU */	

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {

  font-family: Raleway, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 12px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2em;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
  color: #313131;
  background-color: #7FB52F;
}
#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 1.1em;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 32px;
}
#cssmenu ul ul li a:hover {
  color: #ffffff;
  background-color: #434951;
}
#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}
