{% extends "::base.html.twig" %}

{% block stylesheets %}
<style>
.col-md-4 {
	display:none;
}
</style>
{% endblock %}

{% block content %}
<div class="fos-forms">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock content %}