{% extends '::base.html.twig' %}
{% block content %}


{% endblock %}
{% block categories %}

{% for categories2 in categories2 %}
<li class="has-sub"><a href="#">{{ categories2.mother }} </a>
                            <ul>
                                <li><a href="/sh/web/app_dev.php/category/{{ categories2.categorypath }}">{{ categories2.category }}</a></li>

                            </ul></li>
                       
{% endfor %}


{% endblock %}