{% extends '::base.html.twig' %}
{% block content %}

{% set prodid = app.request.attributes.get('slug') -1 %}
{% set arrayval = products[prodid].id %}
	
{% if products|length > prodid %}
rak
{% else %}
chuj
{% endif %}
{{ arrayval }}
<img src="{{ products[prodid].img }}">
{{ products[prodid].description }}
<a href="{{ prodid +1 }}/order">Zamów!</a>
{% endblock %}